<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/fees">Fees</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Fees</li>
  </ol>
</nav>

{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#each rows}}
<form class="row g-3 needs-validation" method="POST" action="/fees/editfees/{{this.rollno}}" novalidate>
    <div class="col-6">
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.rollno}}" placeholder="Roll Number" name="rollno">
        <label for="floatingInput">Admission Number</label>
        </div>
    </div> 
    <div class="col-6">
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.feesdue}}" placeholder="Fees due" name="feesdue">
        <label for="floatingInput">Fees Due</label>
        </div>
    </div> 
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit" >Submit</button>
    </div>
</form>
{{/each}}